* {
    /* background-color: cadetblue; */
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.inner {
    width: 40%;
    height: 70%;
    margin: auto;
    border-radius: 15px;
    border: 2px solid blue;
    background-color: rgb(59, 122, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.calc {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    margin: auto;

    width: 90%;
    height: 90%;

    border-radius: 15px;
}

.display {
    background-color: rgb(208, 168, 115);
    width: 95%;
    height: 20%;
    border: 2px solid rgb(198, 120, 17);
    font-size: 60px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    border-radius: 10px;
}

.digits_operations {
    background-color: rgb(59, 122, 237);
    width: 100%;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
}

.digits,
.sign {
    margin: 10px;
    padding: 10px;
    border: 3px solid aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(170, 92, 10);
    border-radius: 15px;
    cursor: pointer;
}

.clear {
    background-color: red;
}

.equal {
    background-color: green;
}

.sign {
    background-color: aqua;
}